
dash==1.8.0
dash-core-components==1.7.0
dash-bootstrap-components 
dash-html-components==1.0.2
dash-renderer==1.2.3
dash-table==4.6.0
dask==2.1.0
decorator==4.4.0
Flask==1.1.1
Flask-Compress==1.4.0
future==0.17.1
gevent==1.4.0
glob2==0.7
numpy==1.16.4
plotly==4.4.1
pyorbital==1.5.0
requests==2.22.0
unicodecsv==0.14.1
gunicorn==19.9.0
pandas==0.24.2
